body {
	text-align: center;
	font-family: 'Bree Serif', serif;
	margin: 0 auto;
	}

header {
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	text-align: left;
	padding: 20px;
	background-color: rgba(231, 76, 60,1.0);
	color: white;
}

h1 {
	font-size: 25px;
}


ul {
	background-color: rgba(231, 76, 60,1.0);
	padding: 20px;
}

li{
	display: inline;
	padding: 0 15px 0 15px;
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
	font-size: 25px;
}

img {
	width: 250px;
	height: 250px;
	border-radius: 175px;
}
button{
	background: rgba(46, 204, 113,1);
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	border: 1px solid black;

}
table{
position: relative;
text-align: center;
margin-left: auto;
margin-right: auto;
padding: 20px;
}

td {
	padding: 10px;
}

#hello {
	font-size: 50px;
}

#Sonet{
	height: 40px;
	width: 40px;
	float: right;
	padding: 30px 10px 30px 10px;
}